@import "../../styles/mixins/mixins.scss";
@import "../../styles/settings.scss";

$bg-color: $bg-color-card;
$font-title: $font-headline-4;
$font-body: $font-body-1;

.card {
    background-color: $bg-color;
    border-radius: 5px;
    padding: 10px;
    font: $font-body;
    max-width: 350px;
    margin: auto;

    &_header {
        font: $font-title;
        padding: 10px 0px;
        font-weight: bold;
    }

    &_body {
        text-transform: uppercase;
        text-align: center;
        margin: 10px 0px;
    }

    &_position {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 50px 0px;
    }

    &_arrow {
        font-size: 60px;
    }

    &_footer {
    }
}

/* LARGE SCREEN */

@include large-screen() {
}

/* MEDIUM SCREEN */

@include medium-screen() {
}

/* SMALL SCREEN */

@include small-screen() {
}

/* EXTRA SMALL SCREEN */

@include extra-small-screen() {
}
